body{
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;height: 97.5vh;
}

#id{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#ca{
    height: 55px;
    width: 75px;
    border: 2px solid black ;
    font-size: medium;
    border-radius: 5px;
    background-color: #4c4e51;

}
#ca:hover{
    background-color: #3C3D37; ;
}
#cb{
    height: 55px;
    width: 75px;
    border: 2px solid black ;
    font-size: medium;
    border-radius: 5px;
    background-color: #3C3D37;
}
#cb:hover{
    background-color: #4c4e51;
}
#cc{
    height: 55px;
    width: 154.5px;
    border: 2px solid black ;
    font-size: medium;
    border-radius: 5px;
    background-color: #68b3e5;
}
#cd{
    height: 55px;
    width: 154.5px;
    border: 2px solid black ;
    font-size: medium;
    border-radius: 5px;
    background-color: #68b3e5;
}
#cc:hover{
    background-color: #abcce5;
}
#cd:hover{
    background-color:#abcce5;
}
p{
    height: 65px;
    width: 309px;
    background-color: aliceblue;
    font-size: larger;
    text-align: right;
    align-content: center;
    border-radius: 5px;
}

